NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_PLATFORM_NAME=Ticket
NEXT_PUBLIC_ACCOUNT_URL=http://127.0.0.1:8000/user
NEXT_PUBLIC_ORGANIZER_CTA_URL=http://127.0.0.1:8000/tenant/register
