NODE_ENV=development
PORT=4000

CATALOG_SERVICE_URL=http://127.0.0.1:4030/v1
MEDIA_SERVICE_URL=http://127.0.0.1:4020/v1
ANALYTICS_SERVICE_URL=http://127.0.0.1:4040/v1
CHECKIN_SERVICE_URL=http://127.0.0.1:4050/v1
NOTIFICATIONS_SERVICE_URL=http://127.0.0.1:4010/v1

GATEWAY_TIMEOUT_MS=8000
